@-moz-document domain(github.com) {
	.header {
		background-color: #fafafa !important;
		border-bottom: none !important;
	}

	.header-logo-invertocat, .header-logo-wordmark, .header-navlink {
		color: #333 !important;
	}

	.header-navlink .dropdown-caret {
		border-top-color: #333 !important;
	}

	.header-search-wrapper {
		background-color: rgba(0, 0, 0, 0.08) !important;
		color: #333 !important;
	}

	.header-search-scope {
		background-color: rgba(0, 0, 0, 0.04) !important;
		border-right: none !important;
		color: #666 !important;
	}

	.header-search-input::placeholder {
		color: black !important;
	}

	.mail-status {
		border-color: transparent !important;
	}
}
