@-moz-document domain(github.com) {
	.Header {
		background-color: #fafbfc !important;
		border-bottom: none !important;
	}

	.header-logo-invertocat, .header-logo-wordmark, .HeaderNavlink, .notification-indicator {
		color: #333 !important;
	}

	.HeaderNavlink .dropdown-caret {
		border-top-color: #333 !important;
	}

	.header-search-wrapper {
		background-color: rgba(0, 0, 0, 0.08) !important;
		color: #333 !important;
	}

	.header-search-scope {
		background-color: rgba(0, 0, 0, 0.04) !important;
		border-right: none !important;
		color: #666 !important;
	}

	.header-search-input::placeholder {
		color: black !important;
	}

	.mail-status {
		border-color: transparent !important;
	}

	.blob-code-inner {
		font-family: Fira Mono !important;
	}
}

@-moz-document domain(www.postgresql.org) {
	.navbar.fixed-top {
		position: absolute !important;
	}
}
